%table.table.table-striped
  %tr
    %th Name
    %th Download!

  - @files.each do |file|
    %tr
      %td
        = image_tag file['thumbnailLink']
        = file["originalFilename"]
      %td
        = link_to "Download", file['webContentLink'], class: 'btn'
        = link_to 'Remove',
          file_url(file['id']), :method => :delete,
            :data => {:confirm => "Are you sure you want to remove this file?" },
            :class => 'btn btn-danger'
